html, body, #root {
    height: 100%;
    margin: 0;
  }

.App {
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    /* align-content: stretch; */
    height: 100%;
    background-color: #424242;
}

.box .header {
    flex: flex-shrink;
    font-size: 200%;
    text-align: center;
}

.box .content {
    background-color: inherit;
    height: inherit;
    overflow: auto;
    /* align-self: stretch; */
    /* align-content: stretch; */
    flex: flex-basis;
}

.box .footer {
/*     flex: 0 1 20px; */
    font-size: 200%;
    text-align: center;
}
